*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!README.md
!LICENSE

!config
!config/*
!workflow
!workflow/*

!workflow/envs
!workflow/envs/*
!workflow/scripts
!workflow/scripts/*
!workflow/rules
!workflow/rules/*
!workflow/schemas
!workflow/schemas/*
!workflow/report
!workflow/report/*

!.test
!.test/*
!.test/config
!.test/config/*
!.test/data
!.test/data/*
!.test/report.html

workflow/data
workflow/data/*

workflow/scripts/twoBitToFa
workflow/scripts/faToTwoBit

workflow/scripts/colTab
