*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!README.md
!LICENSE

!config
!config/*
!workflow
!workflow/*

!workflow/envs
!workflow/envs/*
!workflow/scripts
!workflow/scripts/*
!workflow/rules
!workflow/rules/*

workflow/data
workflow/data/*

workflow/scripts/twoBitToFa
workflow/scripts/faToTwoBit

workflow/scripts/colTab
